<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Repeat Counter</title>
  </head>
  <body>
    <div>
      <h1>Repeat Counter</h1>
    </div>

    <div>
      <form class="form-group" action="/results" method="post">
        <div>
          <label for="string">Word or Phrase:</label>
          <input class="form-control" type="text" name="string" id="string">
        </div>
        <div>
          <label for="count">Search for:</label>
          <input class="form-control" type="text" name="count" id="count">
        </div>
        <button type="submit">Count!</button>
      </form>
    </div>

  </body>
</html>
