<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <h1>Count: {{ result }}</h1>

    <div>
      <form action="/">
        <button type="submit">Home</button>
      </form>
    </div>
    
  </body>
</html>
